<% if @issue.attachments.length > 0 %>
<hr />
<p><strong>Attached Outlook Messages</strong></p>
	<div class="autoscroll">
  <table class="list">
    <thead><tr>
	  <th>From</th>
	  <th>Subject</th>
	  <th>Received</th>
	  <th></th>
    </tr></thead>
    <tbody>
  <% @issue.attachments.each do |att| %>
	  <% msg = Mapi::Msg.open att.diskfile %>
    <tr class="<%= cycle("odd", "even") %>">
    <td><%= sender_to_s(msg) %></td>
	  <td><%= msg.properties[0x0037] %></td>
	  <td><%= format_time(msg.properties[0x3007].to_s) %></td>
	  <td class="buttons">
      <%= link_to("Open", "#", :class => 'icon icon-folder') %>
      <%= link_to(l(:button_delete), "#", :class => 'icon icon-del') %>
    </td>
    </tr>
  <% end %>
    </tbody>
  </table>
  </div>
<% end %>

