<% if @issue.attachments.length > 0 %>
<hr />
<p><strong>Attached Outlook Messages</strong></p>
<% @issue.attachments.each do |att| %>
	<% msg = Mapi::Msg.open att.diskfile %>
	
	<table border="1">
		<tr>
			<td colspan="2"><%= msg.properties[0x0037] %></td>
		</tr>
		<tr>
			<td>Sent</td>
			<td><%= msg.properties[0x3007] %></td>
		</tr>
		<tr>
			<td width="50">From</td>
			<td><%= msg.properties[0x3FF8] + "[" + msg.properties[0x0C1F] +"]" %></td>
		</tr>
		<tr>
			<td width="50">To</td>
			<td><%= msg.properties[0x0E04] %></td>
		</tr>
		<tr>
			<td colspan="2">
				<div style="height: 500px; overflow: auto; padding: 8px;">
					<%= textilizable (msg.properties[0x1000]) %>
				</div>
			</td>
		</tr>
	</table>
		
<% end %>
<% end %>