<table border="1" width="600">
	<tr>
		<td colspan="2"><%= lookup_property(@msg, "SUBJECT") %></td>
	</tr>
	<tr>
		<td>Sent</td>
		<td><%= lookup_property(@msg, "CREATION_TIME") %></td>
	</tr>
	<tr>
		<td width="50">From</td>
		<td><%=lookup_property(@msg, "SENDER") %></td>
	</tr>
	<tr>
		<td width="50">To</td>
		<td><%= @msg.properties[0x0E04] %></td>
	</tr>
	<tr>
		<td colspan="2">
			<iframe id="iframe" width="100%" height="500" scrolling="auto" src="<%= url_for :action => :body, :file_id => @file_id %>"></iframe>
		</td>
	</tr>
</table>

